.toggle {
  width: 100px;
  height: 50px;
  background-color: #ccc;
  padding: 5px;
  margin: 25px;
  border-radius: 100rem;
  cursor: pointer;
  transition: all 0.2s linear;
}

.toggle.active {
  background-color: pink;
}

.spinner {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 100rem;
  transition: all 0.2s linear;
}

.spinner.active {
  transform: translateX(50px);
}

.toggle-control {
  display: flex;
  padding: 0 25px;
  margin: 0 25px;
}
